
@using Microsoft.AspNetCore.Identity
@using Task_Management_System.Areas.Identity.Data
@inject SignInManager<CustomIdentityUser> SignInManager
@inject UserManager<CustomIdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<div class="row">
    <div class="col-sm-9" style="background-image:url('../images/chor.jpg'); min-height: 500px; max-width:1200px; background-repeat:no-repeat; border-right:none"></div>
    <div class="col-sm-3"></div>
</div>
@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("parent"))
    {
        <script>
        window.location.href = "@Url.Action("index", "Child")";
        </script>
    }
    else
    {
        <script>
        window.location.href = "@Url.Action("ChildDashboard","Child")";
        </script>
    }
}

