@model Task_Management_System.ViewModel.UserViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form method="post" asp-controller="Home" asp-action="SignIn">
    <div class="row form-group">
        <div class="col-sm-2">
            <label asp-for="UserName" class="col-form-label">User Name</label>
        </div>
        <div class="col-sm-2">
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName"></span>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="row form-group">
        <div class="col-sm-2">
            <label asp-for="Password" class="col-form-label">Password</label>
        </div>
        <div class="col-sm-2">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="col-sm-8"></div>
    </div>


    <br />
    <div class="row form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-2">
            <input type="submit" value="Login" class="btn btn-info" />
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="col-sm-2">
        <span>@Model.SignInError</span>
    </div>
</form>